# Binaires
k3s
kubectl
minikube

# Node modules (si vous aviez du Node.js)
node_modules/

# Logs
*.log
logs/

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.tar
*.tar.gz

# Kubernetes
*.kubeconfig

# Secrets locaux
.env
secrets/
sealed-secrets-master-key-backup.yaml
sealed-secret.yaml
kubeseal
secret-temp.yaml

LICENSE
